.box {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
    width: 80%;
    input{
        padding: 0 .5rem ;
        width:50%;
    }
    p{
        padding: 1rem;
        margin: 0;
        font-size: medium;
        color: #4F4F4F
    }
}

.boxTwo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: x-small;
    padding: 1rem 0;
    label{
        font-size: medium;
    }
}

.boxthree{
    width:80%;
    margin:1rem 0;
}
@media (max-width:480px) {
    .box {
        width: 100%;
    }
    .boxTwo {
        display: flex;
        flex-direction:column;
        // justify-content: space-between;
        width: 100%;
        align-items: center;
        font-size: x-small;
        padding: 1rem 0;
        label{
            font-size: 12px;
        }
    }

    .boxthree{
        width:100%;
        margin:1rem 0;
    }
    
}