.box {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin: auto;
    max-width: 25rem;
    form{
        border: solid black 1px;
        padding: 1.3rem 12rem;
        border-radius: 3px;
    }
    p{
        padding: 1rem;
        margin: 0;
    }
}

.boxTwo {
    display: flex;
    justify-content: space-evenly;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}